<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Faster+One" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> </head>
<title>Munkee</title>

<body>
    <div class="container-fluid-main container-fluid">
        <div class="title">
            <h1>join A GAME</h1>
            <div class="jumbotron">
                <form class="create-form" action="/online/join/redirect" method="post">
                    <a href="/online" class="btn btn-primary create-part">back</a>
                    <input type="text" name="id" class="create-part create-input" placeholder="Room ID"  autocomplete="off" autofocus>
                    <input type="text" name="name" class="create-part create-input" placeholder="name" autocomplete="off" autofocus>
                    <input type="submit" class="btn btn-primary create-part">
                </form>
                <div class="error">{{error}}</div>
                <br>
                <div class="container instructions-cont">
                    <h1 class="instruction-head">How to play</h1>
                    <p class="instructions container">Once you recieve the room ID, you can now join your desired opponent's game. The player who can first reach 100 on their global score wins. Be aware that if a player leaves the room or reloads the page, the room will close and a new room will have to be created.</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="/../bootstrap.min.js"></script>



</html>