.error,
.message,
.playerHoldDice,
.score0,
.score1,
.title {
    text-align: center
}

* {
    font-family: bungee
}

.container-fluid-main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 7, 7, .79)), to(rgba(0, 0, 0, 0))), url(/images/wallpaper.jpg);
    background-image: linear-gradient(rgba(8, 7, 7, .79), rgba(0, 0, 0, 0)), url(images/wallpaper.jpg);
    background-position: center;
    background-size: cover;
    height: 150vh
}

.navbar {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.playerHoldDice {
    position: absolute;
    color: #428bca;
    left: 60%;
    top: 90px;
    font-size: 23px;
    width: 100px;
    display: none
}

.btn-div,
.btn-div-room,
.error,
.p0,
.p0-room,
.p2,
.p2-room,
.title {
    position: relative
}

.error {
    color: red;
    font-size: 15px;
    top: 40px
}

.p0 {
    top: 20px
}

.btn-div {
    top: 40px
}

.p2 {
    top: 150px
}

.p0-room {
    top: 30px
}

.btn-div-room {
    top: 40px
}

.p2-room {
    top: 180px
}

.title {
    top: 20px;
    color: #fff
}

.copy {
    font-size: 25px !important;
    color: #49d144
}

.copy:hover {
    color: rgb(73, 209, 68, .5) !important
}

.roomId {
    color: #49d144
}

.jumbotron {
    background-color: #fff !important;
    height: 700px;
    margin-top: 20px;
    border-radius: 40px !important
}

.jumbo-game {
    position: relative !important;
    margin-top: 40px !important;
    height: 580px
}

.jumbo-game-room {
    position: relative !important;
    margin-top: 20px !important;
    height: 700px
}

.btn-div-online,
.btn-home,
.btn-jumbo,
.btn-select,
.curr-container,
.logo,
.main-nav,
.main-text,
.score0,
.score1 {
    position: relative
}

.btn-jumbo {
    margin: 0;
    height: 100px
}

.main-nav {
    top: 15px;
    left: 50px
}

.btn-select {
    top: 30px;
    margin: 30px;
    width: 200px !important;
    float: none !important
}

.create-input {
    margin: 10px;
    color: #000
}

.score0,
.score1 {
    font-size: 60px;
    color: rgba(8, 7, 7, .81);
    width: 30px !important
}

.score-curr0,
.score-curr1 {
    text-align: center;
    color: rgba(8, 7, 7, .81);
    font-size: 30px
}

.logo {
    width: 100px;
    left: 50%;
    margin-left: -50px;
    top: 50px
}

.jumbotron-msg {
    background-color: #ededed !important
}

.message {
    color: #49d144;
    font-size: 20px;
    padding: 8px
}

.act,
.act2,
.act3,
.title3 {
    color: #428bca
}

.btn-home {
    width: 120px;
    margin: 10px 0;
    left: -30px;
    font-size: 12px !important;
    padding: 8px !important
}

.curr-container {
    background-color: #ededed;
    height: 110px;
    border-radius: 10px;
    float: right;
    width: 40%;
    top: -115px;
    max-width: 400px !important
}

.main-text {
    text-align: left;
    font-size: 15px;
    width: 50% !important
}

.input1,
.title2,
.title3,
h3 {
    text-align: center
}

h3 {
    font-size: 15px !important
}

.block-game {
    display: block !important;
    width: 100% !important
}

.dice,
.dice-room {
    width: 110px;
    float: right
}

.dice {
    position: absolute;
    left: 57%;
    top: 225px
}

.dice-room {
    position: relative;
    top: -60px;
    margin-left: -200px !important
}

.input1,
.settings-btn {
    width: 100%;
    position: relative
}

.title3 {
    font-size: 30px
}

.title2 {
    position: relative;
    font-size: 17px;
    top: 30px
}

.settings-btn {
    top: -20px
}

.input1 {
    margin: 30px 0
}

.input1:focus {
    outline: 0
}

.instructions-paragraph {
    position: relative;
    top: 50px;
    color: rgba(8, 7, 7, .79);
    font-family: Roboto
}

.instructions {
    color: #000;
    font-size: 15px !important;
    position: relative;
    font-family: roboto;
    max-width: 500px !important
}

.instructions-cont {
    position: relative;
    top: 50px;
    color: #000
}

.instruction-head {
    font-size: 30px !important;
    text-align: center !important
}

@media only screen and (min-width:576px) {
    .dice {
        width: 150px;
        top: 225px;
        left: 61%
    }
    .playerHoldDice {
        width: 100px;
        left: 68%;
        display: none
    }
    .dice-room {
        width: 150px;
        top: -90px;
        left: -3%
    }
    .main-text {
        font-size: 30px
    }
    .jumbo-game {
        height: 640px
    }
    .btn-home {
        display: block !important
    }
}

@media (min-width:768px) {
    .col-sm-4 {
        float: none !important
    }
    .dice {
        width: 180px;
        top: 230px;
        left: 64%
    }
    .dice-room {
        left: -8%
    }
    .playerHoldDice {
        left: 72%;
        top: 85px;
        display: none
    }
    .btn-div-room {
        position: relative !important;
        top: 40px !important
    }
    .block-game {
        height: 120px
    }
    .btn-home {
        top: -5px;
        display: inline-block !important;
        width: 80px;
        height: 80px;
        border-radius: 90px !important;
        padding-top: 33px !important;
        font-size: 11px !important;
        margin-right: 10px
    }
    .curr-container {
        left: 200px
    }
}

@media (min-width:992px) {
    .box {
        position: relative;
        left: 100px
    }
    .btn-home {
        left: 80px
    }
    .curr-container {
        position: relative;
        left: 200px;
        width: 350px !important
    }
    .dice {
        left: 61%
    }
    .dice-room {
        left: -18%
    }
    .playerHoldDice {
        left: 67%;
        display: none
    }
    @media (min-width:1200px) {
        .curr-container {
            width: 500px !important
        }
        .main-text {
            font-size: 32px !important
        }
        .dice {
            left: 58%
        }
        .dice-room {
            left: -29%
        }
        .playerHoldDice {
            left: 61%;
            display: none
        }
        .box {
            position: relative;
            left: 250px
        }
        .btn-home {
            left: 230px
        }
        .btn-jumbo-room {
            position: relative;
            top: 30px
        }
    }
}