* {
    font-family: "bungee";
}

.container-fluid-main {
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(8, 7, 7, 0.79)), to(rgba(0, 0, 0, 0))), url(/images/wallpaper.jpg);
    background-image:linear-gradient(rgba(8, 7, 7, 0.79), rgba(0, 0, 0, 0)), url(images/wallpaper.jpg);
    background-position: center;  
    background-size: cover;
    height: 150vh;
}


.navbar {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.playerHoldDice {
    position: absolute;;
    text-align: center;
    color: #428bca;
    left: 60%;
    top: 90px;
    font-size: 23px;
    width: 100px;
    display: none;
}

.error {
    text-align: center;
    color: red;
    font-size: 15px;
    position: relative;
    top: 40px;
}

.p0 {
    position: relative;
    top: 20px;
}

.btn-div {
    position: relative;
    top: 40px;
}

.p2 {
    position: relative;
    top: 150px;
}

.p0-room {
    position: relative;
    top: 30px;
}

.btn-div-room {
    position: relative;
    top: 40px;
}

.p2-room {
    position: relative;
    top: 180px;
}


.title {
    text-align: center;
    position: relative;
    top: 20px;
    color: #ffffff;
}

.copy {
    font-size: 25px !important;
    color: rgb(73, 209, 68);
}

.copy:hover {
    color: rgb(73, 209, 68, 0.5) !important;
}

.roomId {
    color:rgb(73, 209, 68);
}

.jumbotron {
    background-color: #ffffff !important;
    height: 700px;
    margin-top: 20px;
    border-radius: 40px !important;
}

.jumbo-game {
    position: relative !important;
    margin-top: 40px !important;
    height: 580px;
}

.jumbo-game-room {
    position: relative !important;
    margin-top: 20px !important;
    height: 700px;
}

.btn-jumbo {
    margin: 0;
    height: 100px;
    position: relative;
}


.main-nav {
    position: relative;
    top: 15px;
    left: 50px;
}

.btn-select {
    position: relative;
    top: 30px;
    margin: 30px;
    width: 200px !important;
    float: none !important;
}

.create-input {
    margin: 10px;
    color: black;
}

.score0,.score1 {
    text-align: center;
    position: relative;
    font-size: 60px;
    color: rgba(8, 7, 7, 0.81);
    width: 30px !important;
}

.score-curr0, .score-curr1 {
    text-align: center;
    color: rgba(8, 7, 7, 0.81);
    font-size: 30px;  
}

.logo {
    width: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    top: 50px;
}

.btn-div-online {
    position: relative;
}

.jumbotron-msg {
    background-color: #ededed !important;
}

.message {
    text-align: center;
    color: rgb(73, 209, 68);
    font-size: 20px;
    padding: 8px;
}

.btn-home {
    width: 120px;
    margin: 10px 0 10px 0;
    position: relative;
    left: -30px;
    font-size: 12px !important;
    padding: 8px !important;
}

.curr-container {
    position: relative;
    background-color: #ededed;
    height: 110px;
    border-radius: 10px;
    float: right;
    width: 40%;
    top: -115px;
    max-width: 400px !important;
}

.main-text {
    text-align: left;
    font-size: 15px;
    position: relative;
    width: 50% !important;
}


h3 {
    text-align: center;  
    font-size: 15px !important;
}

.block-game {
    display: block !important;
    width: 100% !important;
}

.dice {
    width: 110px;
    position: absolute;
    float: right;
    left: 57%;
    top: 225px;
    

}

.dice-room {
    width: 110px;
    position: relative;
    float: right;
    top: -60px;
    margin-left: -200px !important;
}

.act,
.act2,
.act3 {
    color: #428bca;
}


.title3 {
    text-align: center;
    font-size: 30px;
    color: #428bca;
}

.title2 {
    text-align: center;
    position: relative;
    font-size: 17px;
    top: 30px;
}

.settings-btn {
    position: relative;
    top: -20px;
    width: 100%;
}
.input1 {
    position: relative;
    margin: 15px 0px 30px 0px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.input1:focus {
    outline: none;
    
}

.instructions-paragraph {
    position: relative;
    top: 50px;
    color: rgba(8, 7, 7, 0.79);
    font-family: "Roboto";
}
    
.instructions {
    color: black;
    font-size: 15px !important;
    position: relative;
    font-family: 'roboto';
    max-width: 500px !important;
    
}

.instructions-cont {
    position: relative;
    top: 50px;
    color: black;
}

.instruction-head {
    font-size: 30px !important;
    text-align: center !important;
}


@media only screen and (min-width: 576px) {

    .dice {
        width:  150px;
        top: 225px;
        left: 61%;
    }
    
    .playerHoldDice {
        width: 100px;
        left: 68%;
        display: none;
    }
    
    .dice-room {
        width: 150px;
        top: -90px;
        left: -3%;
    }
    
    .main-text {
        font-size: 30px;
    }
    
    .jumbo-game {
        height: 640px;
    }   
    .btn-home {
        display: block !important;
    }
    

}

@media (min-width: 768px) {


    .col-sm-4 {
        float: none !important;
    }
    
    .dice {
        width: 180px;
        top: 230px;
        left: 64%;
    }
    
    .dice-room {
        left: -8%;    
    }
    
    .playerHoldDice {
        left: 72%;
        top: 85px;
        display: none;
    }
    
    .btn-div-room {
        position: relative !important;
        top: 40px !important;    
    }
    
    .block-game {
        height: 120px;
    }
    
    .btn-home {
        top: -5px;
        display: inline-block !important;
        width: 80px;
        height: 80px;
        border-radius: 90px !important;
        padding-top: 33px !important;
        font-size: 11px !important;
        margin-right: 10px;
        
    }
    
    .curr-container {
        left: 200px;
    }
}


@media (min-width: 992px) {
    .box {
        position: relative;
        left: 100px;
    }
    
    .btn-home {
        left: 80px;
    }
    
    .curr-container {
        position: relative;
        left: 200px;
        width: 350px !important;
    }
    
    .dice {
        left: 61%;
    }
    .dice-room {
        left: -18%;
    }
    .playerHoldDice {
        left: 67%;
        display: none;
    }
  
@media (min-width: 1200px) {
   
    .curr-container {
        width:  500px !important;
    }
    
    .main-text {
        font-size: 32px !important;    
    }
    
    .dice {
        left: 58%;
    }
    
    .dice-room {
        left: -29%
    }
    
    .playerHoldDice {
        left: 61%;
        display: none;
    }
    
    .box {
        position: relative;
        left: 250px;
    }
    
    .btn-home {
        left: 230px;
    }
    
    .btn-jumbo-room {
        position: relative;
        top: 30px;
    }
}












}