* {
    font-family: "bungee";
}

.container-fluid-main {
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(8, 7, 7, 0.79)), to(rgba(0, 0, 0, 0))), url(/images/wallpaper.jpg);
    background-image:linear-gradient(rgba(8, 7, 7, 0.79), rgba(0, 0, 0, 0)), url(images/wallpaper.jpg);
    background-position: center;  
    background-size: cover;
    height: 150vh;
}

.navbar {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.playerHoldDice {
    position: absolute;;
    text-align: center;
    color: #428bca;
    left: 52%;
    top: 90px;
    font-size: 23px;
    display: none;
}

.error {
    text-align: center;
    color: red;
    font-size: 15px;
    position: relative;
    top: 30px;
}

.p0 {
    position: relative;
    top: 20px;
}

.btn-div {
    position: relative;
    top: 40px;
}

.p2 {
    position: relative;
    top: 150px;
}

.p0-room {
    position: relative;
    top: 30px;
}

.btn-div-room {
    position: relative;
    top: 40px;
}

.p2-room {
    position: relative;
    top: 180px;
}


.title {
    text-align: center;
    position: relative;
    top: 20px;
    color: #ffffff;
}

.copy {
    font-size: 25px !important;
    color: rgb(73, 209, 68);
}

.copy:hover {
    color: rgb(73, 209, 68, 0.5) !important;
}

.roomId {
    color:rgb(73, 209, 68);
}

.jumbotron {
    background-color: #ffffff !important;
    height: 700px;
    margin-top: 20px;
    border-radius: 40px !important;
}

.jumbo-game {
    position: relative !important;
    margin-top: 40px !important;
    height: 580px;
}

.jumbo-game-room {
    position: relative !important;
    margin-top: 20px !important;
    height: 630px;
}

.btn-jumbo {
    margin: 0;
    height: 100px;
    position: relative;
}


.main-nav {
    position: relative;
    top: 15px;
    left: 50px;
}

.btn-select {
    position: relative;
    top: 30px;
    margin: 30px;
    width: 200px !important;
    float: none;
}

.create-input {
    margin: 10px;
    color: black;
}

.score0,.score1 {
    text-align: center;
    position: relative;
    font-size: 60px;
    color: rgba(8, 7, 7, 0.81);
    width: 20% !important;
}

.score-curr0, .score-curr1 {
    text-align: center;
    color: rgba(8, 7, 7, 0.81);
    font-size: 30px;  
}

.logo {
    width: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    top: 50px;
}

.btn-div-online {
    position: relative;
}

.jumbotron-msg {
    background-color: #ededed !important;
}

.message {
    text-align: center;
    color: rgb(73, 209, 68);
    font-size: 20px;
}

.btn-home {
    width: 120px;
    margin: 10px 0px 10px 0px;
    position: relative;
    left: -30px;
}


.curr-container {
    position: relative;
    background-color: #ededed;
    height: 110px;
    border-radius: 10px;
    float: right;
    width: 40%;
    top: -115px;
}

.main-text {
    text-align: left;
    font-size: 15px;
    position: relative;
    width: 50% !important;
}


h3 {
    text-align: center;  
    font-size: 15px !important;
}

.block-game {
    display: block !important;
    width: 100% !important;
}

.dice {
    width: 110px;
    position: relative;
    float: right;
    top: -82px;
    margin-left: -200px !important;    
}

.dice-room {
    width: 110px;
    position: relative;
    float: right;
    top: -60px;
    margin-left: -200px !important;
}

.act,
.act2,
.act3 {
    color: #428bca;
}


.title3 {
    text-align: center;
    font-size: 30px;
    color: #428bca;
}

.title2 {
    text-align: center;
    position: relative;
    font-size: 17px;
    top: 30px;
}

.settings-btn {
    position: relative;
    top: -20px;
    width: 100%;
}
.input1 {
    position: relative;
    margin: 15px 0px 30px 0px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.input1:focus {
    outline: none;
    
}

.instructions-paragraph {
    position: relative;
    top: 50px;
    color: rgba(8, 7, 7, 0.79);
    font-family: "Roboto";
}
    


















